.sidebarContainer {
    background-color: #ffffff;
    width: 280px;
    max-width:100%;
    position: absolute;
    z-index: 1;
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;

 }

.sidebar-list {
    list-style: none;
    font-size: 0.75em;
    padding-left: 0;
    max-height: 100vw;
}
.sidebar-list li{
     display: relative;
     height: auto;
     padding: 0.2em;
     box-shadow: 1px 1px 2px 1px #445f5c;
     background-color: white;
     
   }
.sidebar-list li:hover {
    background-color: #78eee0;
    text-decoration: underline;
    cursor: pointer;
   }

.input-field{
    width: calc(100% - 12px);
   }

 .btn-toggle {
    width: calc(100% - 12px);
    padding: 1px 0px;
    margin-top: 5px; 
 }

